/* PageTransition.css */
.fade-enter {
    opacity: 0;
    visibility: hidden;
  }
  .fade-enter-active {
    opacity: 1;
    visibility: visible;
    transition: opacity 10ms ease-in-out, visibility 0s 300ms;
  }
  .fade-exit {
    opacity: 1;
    visibility: visible;
  }
  .fade-exit-active {
    opacity: 0;
    visibility: visible;
    transition: opacity 10ms ease-in-out , visibility 0s 300ms;;
  }
  